* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100vw;
    height: 8vh;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.navbar__right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: auto;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.navbar__right-section li {
    margin: 0 0.5rem;
}
.navbar__right-section a {
    color: black;
}
.navbar__google-apps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar__google-apps:hover {
    background-color: #E8E8E8;
}
.navbar__google-apps a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.navbar__google-apps img{
    width: 24px;
    height: 24px;
}
.navbar__google-account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
.navbar__google-account a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.navbar__google-account img {
    height: 100%;
    object-fit: cover;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84vh;
}
.main__logo {
    width: 272px;
    margin-bottom: 28px;
}
.main__logo img {
    width: 100%;
    object-fit: cover;
}
.main__search-bar {
    display: flex;
    width: 584px;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C0C0C0;
    border-radius: 23px;
}
.main__search-bar:hover {
    box-shadow: 0 1px 6px 0 #C0C0C0;
}
.main__search-logo {
    width: 20px;
    margin-left: 15px
}
.main__search-logo img {
    width: 100%;
    opacity: 50%;
}
.main__mic-logo {
    width: 15px;
    margin-right: 15px;
}
.main__mic-logo img {
    width: 100%;
}
.main__input {
    width: 519px;
    padding: 10px;
    height: 100%;
}
.main__input input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    border: none;
    outline: none;
}
.main__button-container {
    display: flex;
    margin-top: 50px;
}
.main__button {
    border: none;
    border-radius: 8px;
    height: 4rem;
    width: 172px;
    padding: 0 20px;
    margin: 0 15px;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    color: #5f6368;
    cursor: pointer;
}
.main__button:hover {
    border: 1px solid #c6c6c6;
    color: black;
}

footer {
    /* height: 48px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    font-size: 1.3rem;
    background-color: #F0F0F0;
}
footer a {
    color: black;
}
footer li {
    list-style: none;
    padding: 0 1rem;
}
.footer__links {
    display: flex;
    margin: 0 2rem;
}